.card img {
    width: 132px;
    border-radius: 26px ;
    height: 132px;

}

.card {
    margin: 12px;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 10px 30px rgba(0,0,0, 0.3);
    border-radius: 8px;
    flex-basis: 0px;
    flex-grow: 1;
}

.card h2{
    flex-grow: 1;
    margin-left: 12px;
}
